body {
  /* margin: 0;
  padding: 0;
  border: 0; */
  overflow-x: hidden;
  /* background-image: linear-gradient(to right, #051937, #004d7a, #008793, #00bf72, #a8eb12); */
}

.estrela {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: #FFF;
  opacity: 0.5;
}